<div class="container" >
  <form (ngSubmit)="book()">
    <div class="form-group">
      <label for="cartNumber">Cart number</label>
      <input type="text" class="form-control" id="cartNumber" >
    </div>
    <div class="form-group">
      <label for="ccvCode">CCV code</label>
      <input type="text" class="form-control" id="ccvCode" >
    </div>
    <div class="form-group">
      <label for="expirationDate">Expiration date</label>
      <input type="text" class="form-control" id="expirationDate" >
    </div>

    <button type="submit" class="btn btn-primary">Book</button>
  </form>
</div>
